body {
    --coding-areas-size: 50vw;
    --default-text-color: #787c99;
    background-color: #14141b;
}

#bin-lable {
    font-weight: bold;
    color: rgb(69, 69, 69);
}

#code-area {
    color: var(--default-text-color);
    background-color: #1a1b26;
    width: var(--coding-areas-size);
}

#result-frame {
    width: var(--coding-areas-size);
    height: 23vh;
    background-color: #1a1b26;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#result-frame-text {
    color: var(--default-text-color);
}

footer {
    position: fixed;
    width: 100vw;
}

.footer-link {
    color: rgb(69, 69, 69);
    padding: 0 5px;
}

.footer-link:hover {
    color: var(--default-text-color);
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #1a1b26;
}

::-webkit-scrollbar-thumb {
    background: rgba(216, 216, 216, 0.05);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(216, 216, 216, 0.1);
}