body {
    --coding-areas-size: 50vw;
    background-color: rgb(45, 45, 45);
}

#bin-lable {
    font-weight: bold;
    color: rgb(69, 69, 69);
}

#code-area {
    background-color: rgb(69, 69, 69);
    width: var(--coding-areas-size);
}

#result-frame {
    width: var(--coding-areas-size);
    height: 23vh;
    background-color: rgb(69, 69, 69);
    overflow-y: scroll;
    overflow-wrap: break-word;
}